input,
.ui-inputtext,
.ui-dropdown,
.ui-calendar {
  width: 100% !important;
}

textarea[class*='ui-inputtext'] {
  height: 130px;
}

label {
  padding: 7px 10px 7px 0;
  float: right;
}

label,
.label-img {
  font-weight: bold;
}

.label-img {
  text-align: center;
  margin-bottom: 10px;
}

.img-product {
  width: 300px;
  height: 300px;
  display: block;
  margin: auto;
  opacity: 0.6;
}
